<div class="wrapper">
  <app-admin-header></app-admin-header>
  <div class="main-panel">
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Simple Table Sales Product</h4>
                <p class="card-category">Here is a subtitle for this table</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <th>ID</th>
                      <th>Name</th>
                      <th>Barnd name</th>
                      <th>Size</th>
                      <th>Quantity</th>
                      <th>Price</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-left">1</td>
                        <td class="text-left">AIR JORDAN 1 LOW DJ5196</td>
                        <td class="text-left">NIKE</td>
                        <td class="text-left">41</td>
                        <td class="text-left">10</td>
                        <td class="text-primary text-left">3.999.000đ</td>
                      </tr>
                      <tr>
                        <td class="text-left">2</td>
                        <td class="text-left">AIR JORDAN 1 LOW Dj1327662</td>
                        <td class="text-left">NIKE</td>
                        <td class="text-left">40</td>
                        <td class="text-left">10</td>
                        <td class="text-primary text-left">2.999.000đ</td>
                      </tr>
                      <tr>
                        <td class="text-left">3</td>
                        <td class="text-left">AIR ADIDAS DJ5196</td>
                        <td class="text-left">ADIDAS</td>
                        <td class="text-left">40</td>
                        <td class="text-left">10</td>
                        <td class="text-primary text-left">1.999.000đ</td>
                      </tr>
                      <tr>
                        <td class="text-left">4</td>
                        <td class="text-left">STARTMIT</td>
                        <td class="text-left">ADIDAS</td>
                        <td class="text-left">40</td>
                        <td class="text-left">10</td>
                        <td class="text-primary text-left">1.999.000đ</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Add Product</h4>
                <p class="card-category">Complete your Product</p>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Name</label>
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Brands</label>
                        <input type="email" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Size</label>
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Price</label>
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <select class="custom-select mb-3">
                        <option selected>New</option>
                        <option value="">2Hand</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <select name="brand" class="custom-select mb-3">
                        <option selected>Product New</option>
                        <option value="">Peoduct Sale</option>
                        <option value="">Peoduct Hand</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Image Product</label>
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary pull-right">
                    Save
                  </button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
