<div class="wrapper ">
  <app-admin-header></app-admin-header>
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Simple Table Sales Product</h4>
                <p class="card-category"> Here is a subtitle for this table</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        ID
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        Barnd name
                      </th>
                      <th>
                        Size
                      </th>
                      <th>
                        Quantity
                      </th>
                      <th>
                        Price
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-left">
                          1
                        </td>
                        <td class="text-left">
                          AIR JORDAN 1 LOW DJ5196
                        </td>
                        <td class="text-left">
                          NIKE
                        </td>
                        <td class="text-left">
                          41
                        </td>
                        <td class="text-left">
                          10
                        </td>
                        <td class="text-primary text-left">
                          3.999.000đ
                        </td>
                      </tr>
                      <tr>
                        <td class="text-left">
                          2
                        </td>
                        <td class="text-left">
                          AIR JORDAN 1 LOW Dj1327662
                        </td>
                        <td class="text-left">
                          NIKE
                        </td>
                        <td class="text-left">
                          40
                        </td>
                        <td class="text-left">
                          10
                        </td>
                        <td class="text-primary text-left">
                          2.999.000đ
                        </td>
                      </tr>
                      <tr>
                        <td class="text-left">
                          3
                        </td>
                        <td class="text-left">
                          AIR ADIDAS DJ5196
                        </td>
                        <td class="text-left">
                          ADIDAS
                        </td>
                        <td class="text-left">
                          40
                        </td>
                        <td class="text-left">
                          10
                        </td>
                        <td class="text-primary text-left">
                          1.999.000đ
                        </td>
                      </tr>
                      <tr>
                        <td class="text-left">
                          4
                        </td>
                        <td class="text-left">
                          STARTMIT
                        </td>
                        <td class="text-left">
                          ADIDAS
                        </td>
                        <td class="text-left">
                          40
                        </td>
                        <td class="text-left">
                          10
                        </td>
                        <td class="text-primary text-left">
                          1.999.000đ
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header card-header-primary">
                <h4 class="card-title mt-0"> Table on import Product</h4>
                <p class="card-category"> Here is a subtitle for this table</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="text-left">
                      <th>
                        ID
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        Barnd name
                      </th>
                      <th>
                        Size
                      </th>
                      <th>
                        Quantity
                      </th>
                      <th>
                        Price
                      </th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-left">
                          1
                        </td>
                        <td class="text-left">
                          AIR JORDAN 1 LOW DJ5196
                        </td>
                        <td class="text-left">
                          NIKE
                        </td>
                        <td class="text-left">
                          41
                        </td>
                        <td class="text-left">
                          10
                        </td>
                        <td class="text-primary text-left">
                          3.099.000đ
                        </td>
                        <td>
                          Edit
                        </td>
                      </tr>
                      <tr>
                        <td class="text-left">
                          2
                        </td>
                        <td class="text-left">
                          AIR JORDAN 1 LOW Dj1327662
                        </td>
                        <td class="text-left">
                          NIKE
                        </td>
                        <td class="text-left">
                          40
                        </td>
                        <td class="text-left">
                          10
                        </td>
                        <td class="text-primary text-left">
                          2.999.000đ
                        </td>
                        <td>
                          Edit
                        </td>
                      </tr>
                      <tr>
                        <td class="text-left">
                          3
                        </td>
                        <td class="text-left">
                          AIR ADIDAS DJ5196
                        </td>
                        <td class="text-left">
                          ADIDAS
                        </td>
                        <td class="text-left">
                          40
                        </td>
                        <td class="text-left">
                          10
                        </td>
                        <td class="text-primary text-left">
                          1.999.000đ
                        </td>
                        <td>
                          Edit
                        </td>
                      </tr>
                      <tr>
                        <td class="text-left">
                          4
                        </td>
                        <td class="text-left">
                          STARTMIT
                        </td>
                        <td class="text-left">
                          ADIDAS
                        </td>
                        <td class="text-left">
                          40
                        </td>
                        <td class="text-left">
                          10
                        </td>
                        <td class="text-primary text-left">
                          1.499.000đ
                        </td>
                        <td >
                          Edit
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-plugin">
  <div class="dropdown show-dropdown">
    <a href="#" data-toggle="dropdown">
      <i class="fa fa-cog fa-2x"> </i>
    </a>
    <ul class="dropdown-menu">
      <li class="button-container text-center">
        <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot; 45</button>
        <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot; 50</button>
      </li>
    </ul>
  </div>
</div>
