<div class="wrapper">
  <app-admin-header></app-admin-header>
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <!---->
        <div class="alert alert-success">
          <span>THƯƠNG HIỆU ĐÃ ĐĂNG</span>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Tìm kiếm thương hiệu</span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="profile"></div>
              </div>
              <div class="container mt-3">
                <form action="/action_page.php">
                  <div class="col-md-10">
                    <div class="form-group">
                      <label for="ingredientname">Tên thương hiệu</label>
                      <input
                        type="ingredientname"
                        class="form-control"
                        placeholder="Ingredient Name"
                        id="ingredientname"
                      />
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary pull-right">
                    Search
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Danh Sách Thương Hiệu</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Thêm thương hiệu</h4>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Tên Thương hiệu</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <select name="brand" class="custom-select mb-3">
                      <option selected>Enable</option>
                      <option value="disable">Disable</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Mô tả</label>
                    <div class="form-group">
                      <textarea class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary pull-right">
                  UPDATE THƯƠNG HIỆU
                </button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
