<div class="wrapper">
  <app-admin-header></app-admin-header>
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <!---->
        <div class="alert alert-success">
          <span>THÀNH PHẦN ĐÃ ĐĂNG</span>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Tìm kiếm thành phần</span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="profile"></div>
              </div>
              <div class="container mt-3">
                <form action="/action_page.php">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="ingredientname">Tên thành phần</label>
                        <input
                          type="ingredientname"
                          class="form-control"
                          placeholder="Ingredient Name"
                          id="ingredientname"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="ingredientname">Công dụng</label>
                      <select name="brand" class="custom-select mb-3">
                        <option selected>Công dụng</option>
                        <option value="volvo">Volvo</option>
                        <option value="fiat">Fiat</option>
                        <option value="audi">Audi</option>
                      </select>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary pull-right">
                    Search
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Sửa/Xóa thành phần</span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="profile">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                checked
                              />
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>
                          Sign contract for "What are conference organizers
                          afraid of?"
                        </td>
                        <td class="td-actions text-right">
                          <button
                            type="button"
                            rel="tooltip"
                            title="Edit Task"
                            class="btn btn-primary btn-link btn-sm"
                          >
                            <i class="material-icons">edit</i>
                          </button>
                          <button
                            type="button"
                            rel="tooltip"
                            title="Remove"
                            class="btn btn-danger btn-link btn-sm"
                          >
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                              />
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>
                          Lines From Great Russian Literature? Or E-mails From
                          My Boss?
                        </td>
                        <td class="td-actions text-right">
                          <button
                            type="button"
                            rel="tooltip"
                            title="Edit Task"
                            class="btn btn-primary btn-link btn-sm"
                          >
                            <i class="material-icons">edit</i>
                          </button>
                          <button
                            type="button"
                            rel="tooltip"
                            title="Remove"
                            class="btn btn-danger btn-link btn-sm"
                          >
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                              />
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>
                          Flooded: One year later, assessing what was lost and
                          what was found when a ravaging rain swept through
                          metro Detroit
                        </td>
                        <td class="td-actions text-right">
                          <button
                            type="button"
                            rel="tooltip"
                            title="Edit Task"
                            class="btn btn-primary btn-link btn-sm"
                          >
                            <i class="material-icons">edit</i>
                          </button>
                          <button
                            type="button"
                            rel="tooltip"
                            title="Remove"
                            class="btn btn-danger btn-link btn-sm"
                          >
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                checked
                              />
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>
                          Create 4 Invisible User Experiences you Never Knew
                          About
                        </td>
                        <td class="td-actions text-right">
                          <button
                            type="button"
                            rel="tooltip"
                            title="Edit Task"
                            class="btn btn-primary btn-link btn-sm"
                          >
                            <i class="material-icons">edit</i>
                          </button>
                          <button
                            type="button"
                            rel="tooltip"
                            title="Remove"
                            class="btn btn-danger btn-link btn-sm"
                          >
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---->
        <div class="alert alert-warning">
          <span>THÊM THÀNH PHẦN</span>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-primary">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Chủ đề Blog</span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="profile">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                checked
                              />
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>
                          Sign contract for "What are conference organizers
                          afraid of?"
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                              />
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>
                          Lines From Great Russian Literature? Or E-mails From
                          My Boss?
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                              />
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>
                          Flooded: One year later, assessing what was lost and
                          what was found when a ravaging rain swept through
                          metro Detroit
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                checked
                              />
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>
                          Create 4 Invisible User Experiences you Never Knew
                          About
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Thêm thành phần</h4>
            </div>
            <div class="card-body">
              <form>
                <button
                  type="submit"
                  class="btn btn-primary pull-right"
                  (click)="openDialog()"
                >
                  THÊM THÀNH PHẦN
                </button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
