

                  <div id="PageContainer"></div>
                  <div class="quick-view"></div>
                  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left " id="cbp-spmenu-s1">
                     <div class="gf-menu-device-wrapper">
                        <div class="close-menu">x</div>
                        <div class="gf-menu-device-container"></div>
                     </div>
                  </nav>
                  <div class="wrapper-container">
                     <div class="header-type-9">
                        <div class="">
                           <div id="header-landing" class="sticky-animate">
                              <div id="shopify-section-header-model-9" class="shopify-section">

                                 <app-header></app-header>


                              </div>

                           </div>
                        </div>
                     </div>
                  </div>
                  <main class="main-content">



                     <div class="grid-uniform">
                     <div class="grid__item">
                        <div class="slider" id="main-slider"><!-- outermost container element -->
                           <div class="slider-wrapper"><!-- innermost wrapper element -->
                              <img src="/assets/images/laroche.jpg" alt="First" class="slide" /><!-- slides -->
                              <img src="/assets/images/obagi.jpg" alt="Second" class="slide" />
                              <img src="/assets/images/paula.jpg" alt="Third" class="slide" />
                           </div>
                        </div>
                        <div class="container">

                           <!-- BEGIN content_for_index -->
                           <div id="shopify-section-1542369329707" class="shopify-section index-section index-section--flush">



                              <div id="shopify-section-1585282755591" class="shopify-section index-section">
                                 <div data-section-id="1585282755591"  data-section-type="home-product-grid-type-5" class="home-product-grid-type-5">
                                    <div class="container">
                                       <div class="full_width_tab load-wrapper">
                                          <div class="section-header section-header--small wow fadeInDown animated ">
                                             <div class="border-title">
                                                <h2 class="section-header__title" style="color:rgb(128, 9, 88);" class="site-menu1">
                                                   Sản phẩm
                                                </h2>

                                             </div>

                                          </div>

                                    </div>
                                          </div>
                                          <div class="dt-sc-hr-invisible-small"></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>



                              <div class="border-title wow fadeInUp animated">
                                 <h2 class="section-header__title" style="color:#222222;" class="site-menu1">
                                    <strong> Đánh giá, cảm nhận </strong>
                                 </h2>
                                </div>

                                    <img src="/assets/images/banner.jpg">


                                       <div class="blog-post">

                              <div id="shopify-section-1547017004810" class="shopify-section">
                                 <div data-section-id="1547017004810"  data-section-type="blog-post-type-4" class="blog-post-type-4">
                                    <div class="container">

                                       <div class="blog-post">

                                          <div class="grid">

                                             <br>
                                             <a href="http://eepurl.com/hzVbRX" class="btn btn-default">ĐĂNG KÝ NHẬN EMAIL KHUYẾN MÃI</a>

                                             <!--  <div class="nav_article"> </div> -->
                                          </div>

                                       </div>
                                    </div>
                                    <div class="dt-sc-hr-invisible-large"></div>
                                 </div>
                              </div>




                  <div id="shopify-section-footer-model-5" class="shopify-section">
                     <div data-section-id="footer-model-5"  data-section-type="Footer-model-5" class="footer-model-5">
                        <app-footer></app-footer>

                     </div>
                  </div>

